body {
  width: 1920px;
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
  font-size: 16px;
}

/*header*/

header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: fixed;
  z-index: 2000;
}

header a:hover {
  font-weight: 800;
}

header .inner {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  justify-content: space-between;
}

header h1 {
  margin-top: 20px;
}

header h1 a img {
  width: 220px;
}

header nav {
  width: 510px;
  height: 100%;
  margin-top: 57px;
  font-weight: 600;
}

header p {
  display: none;
}

header nav ul {
  display: flex;
}

header nav ul li {
  padding-left: 50px;
}

header .utill ul {
  display: flex;
  font-size: 14px;
}

header .utill ul li {
  padding-left: 16px;
}

header .utill ul li:first-child {
  margin-top: 57px;
}

header .utill li:nth-child(2),
header .utill li:nth-child(3) {
  margin-top: 45px;
}

header .utill li:nth-child(2) img {
  width: 34px;
}

header .utill li:nth-child(3) img {
  width: 40px;
}

.mo_menu {
  display: none;
}

/*main*/

/*section1*/

main .mainvisual {
  width: 100%;
  height: 100vh;
  background: url(../images/pc_main_bg.png) no-repeat;
  background-size: 1920px 980px;
  padding-top: 100px;
}

main .mainvisual h2 {
  font-size: 45px;
}

main .mainvisual p strong {
  font-size: 80px;
}

main .mainvisual p a {
  font-size: 20px;
  border: 2px solid #333;
  display: block;
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin-top: 50px;
}

main .mainvisual p a:hover {
  background-color: #fff;
  border: 2px solid #fff;
  text-decoration: underline;
}

main .mainvisual .inner {
  padding-top: 100px;
  width: 1300px;
  margin: auto;
  line-height: 80px;
}

/*bestSeller*/

.bestTitle {
  float: left; /* Remove float property */
}

.bestTitle h2 {
  font-size: 30px;
  padding-bottom: 10px;
}

.bestTitle p {
  font-size: 20px;
}

.bestSeller {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90vh;
  background: #f0e5af;
  padding-top: 150px;
}

.bestSeller ul {
  display: flex;
  background: #fff;
  width: 1300px;
  height: 580px;
  border-radius: 30px;
  overflow: hidden;
}

.bestSeller ul li {
  padding: 70px 0 0 50px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.bestSeller ul li .price {
  font-size: 14px;
  color: #c8c8c8;
  text-decoration: line-through;
  font-weight: normal;
}

.bestSeller ul li .sale strong {
  font-size: 18px;
  color: tomato;
}

.bestSeller ul li .sale {
  font-size: 17px;
}

.bestSeller ul li img {
  width: 400px;
}

.bestSeller ul li:hover {
  font-weight: 900;
}

.bestSeller .slick-slider {
  display: block;
}

.slick-arrow {
  z-index: 50;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  background-color: transparent;
  font-size: 0; /*font없애는법*/
  /*color: transparent; font없애는법
  text-indent: -9999px; font없애는법
  overflow: hidden; font없애는법*/
}
/*제이쿼리에서 만들어준 자동버튼*/

.slick-prev {
  left: 0;
} /*버튼 왼쪽*/

.slick-next {
  right: 0;
} /*버튼 오른쪽*/

.slick-arrow:before {
  font-family: xeicon; /*이걸 해줘야 보임*/
}

.slick-prev:before {
  content: "\e93d";
  font-size: 50px;
}

.slick-next:before {
  content: "\e940";
  font-size: 50px;
}

/*section3*/

.sns_pc {
  width: 100%;
  height: 750px;
  background: url(../images/sns_bg.png) no-repeat;
  background-size: 1920px 750px;
  display: block;
}

.sns_pc .inner {
  width: 1300px;
  margin: auto;
}

.sns_pc .inner .snsTitle {
  padding-top: 80px;
  float: left;
}

.snsTitle h2 {
  font-size: 30px;
  padding-bottom: 10px;
}

.snsTitle p {
  font-size: 20px;
  padding-bottom: 10px;
}

.sns_pc .inner .icon {
  display: flex;
}

.sns_pc .inner ul li {
  padding-right: 20px;
}

.sns_pc .inner .icon li img {
  width: 30px;
  height: 30px;
}

.youtube {
  width: 600px;
  height: 400px;
  float: right;
  padding-top: 80px;
  margin-bottom: 10px;
}

.snsPreview {
  display: flex;
  width: 100%;
}

.snsPreview li {
  width: 300px;
  height: 300px;
  margin-right: 20px;
  overflow: hidden;
}

.sns_pc .inner .snsPreview li img {
  width: 300px;
  height: 300px;
  transition: all 0.2s linear;
}

.sns_pc .inner .snsPreview li img:hover {
  transform: scale(1.4);
}

.sns_mo {
  display: none;
}

footer {
  width: 1920px;
  height: 200px;
  background: #333;
  color: #fff;
  font-size: 10px;
}

.footer_inner {
  width: 1300px;
  margin: auto;
  position: relative;
  padding-top: 30px;
}

.footer_inner ul {
  display: flex;
  padding: 20px 0 20px;
}

.footer_inner ul li {
  font-weight: bold;
}

.footer_inner ul li:first-child {
  font-size: 15px;
  margin-right: 10px;
}

.footer_inner ul li:nth-child(2) {
  font-size: 14px;
}

.footer_inner .address {
  padding-bottom: 20px;
}

.footer_inner .ft_logo img {
  width: 80px;
}

.footer_inner .ft_logo {
  position: absolute;
  right: 40px;
  top: 50px;
}
